In [1]:
# Define the function "say_hello" so it prints "Hello!" when called. this first
# code does not print nothing because say_hello: print("hello") is a function
def say_hello():
    print("Hello!")

In [2]:
# Call the function. this will print hello because is the function that 
# needs to be called
say_hello()

Hello!

In [3]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [4]:
# Call the function.
say_something("Hello World")

Hello World

In [5]:
Jane_says = "Hi, my name is Franklin. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Franklin. I'm learning Python!

In [6]:
# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called.

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [7]:
# assign the passing math count and total student count as varialbes 
passing_math_count = 29370
total_student_count = 39170

In [8]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [9]:
# example of map functions starting here and following cells
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [10]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [11]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [12]:
# using python format function code below are practice

# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [13]:
# examples of chaining the map and format functions together in one simple
# code
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object